[Unit]
Description="Envoy sidecar for Dashboard service (for demo purposes)"
Documentation=https://github.com/hashicorp/demo-consul-101
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=consul
Group=consul
EnvironmentFile=/etc/consul.d/consul.env
ExecStart=/usr/bin/consul connect envoy -sidecar-for dashboard -- -l trace
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
