[Unit]
Description="HashiCorp Consul - Terminating Gateway"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=consul
Group=consul
EnvironmentFile=/etc/consul.d/consul.env
ExecStart=/usr/bin/consul connect envoy -register -gateway=terminating -service=secondary-terminating-gateway -address=172.20.20.22:9000 -- -l trace
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
