[Unit]
Description="Counting service - A service that counts up monotonically for its lifetime (for demo purposes)"
Documentation=https://github.com/hashicorp/demo-consul-101
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=consul
Group=consul
EnvironmentFile=/etc/demo/counting-service.env
ExecStart=/usr/bin/counting-service
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
